#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a freeradius instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman freeradius.service
Requires=freeradius-app.service
Before=freeradius-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/freeradius.pid %t/freeradius.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/freeradius.pid \
    --pod-id-file %t/freeradius.pod-id \
    --name freeradius \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    --publish 1812-1813:1812-1813/udp \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/freeradius.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/freeradius.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/freeradius.pod-id
PIDFile=%t/freeradius.pid
Type=forking

[Install]
WantedBy=default.target
